.logo-container {
  animation: popIn 0.8s forwards;
  opacity: 0;
  transform: translateY(20px) scale(0.9);
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

dialog[open] {
  animation: zoomIn 0.3s ease-out forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}